.bar {
    justify-content: space-between;
    padding: 0 10rem;
}

#plans{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding-top: 16vh;
    background: url('../Assets/bg.webp');
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
}

.title{
    font-size: 2rem;
    color: #D29C19;
}

.plans-info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 4rem;
    border-right: 2px solid #D29C19;
}

.plan{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-left: 2px solid #D29C19;
    padding: 2rem;
}

.plan h4{
    color: #D29C19;
    font-size: 1.2rem;
    font-weight: 400;
}

.plan h2{
    color: #D29C19;
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom: 0.8rem;
}

.plan h3{
    margin-bottom: 0.8rem;
}

.plan p{
    margin-bottom: 2.6rem;
}

.buy{
    color: #fff;
    background: #D29C19;
    padding: 0.8rem 2rem;
    border-radius: 4px;
    border: 1px solid #D29C19;
    transition: all 0.2s linear;
    font-weight: 600;
}

.buy:hover{
    color: #D29C19;
    background: transparent;
}

#dashboard{
    width: 100%;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 14vh;
}

.error{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1.6rem 2.6rem;
    width: 100%;
    background: #F8D7DA;
    color: #400200;
    border: 1px solid #ffb7b5;
    border-left: 6px solid var(--primary-color);
    font-weight: 400;
    border-radius: 2px;
    font-size: 1.2rem;
}

#active{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.welcome{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffeef2;
    padding: 0;
    border-radius: 6px;
    position: relative;
    border: 2px solid #ff8aa6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.welcome .lh{
    width: 70%;
    padding: 2rem;
    padding-bottom: 140px;
}

.welcome .rh{
    width: 30%;
}

.welcome h2{
    font-size: 1.8rem;
    color: #FE616F;
}

.welcome img{
    width: 360px;
    position: absolute;
    top: -150px;
}

.plan-status{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.card{
    padding: 1rem 8rem;
    padding-left: 2rem;
    background: #eaeaea;
    border: 1px solid #FE616F;
    border-left: 10px solid #FE616F;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-body{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 0.4rem;
    text-transform: capitalize;
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    text-transform: capitalize;
}

.card h4 {
    font-size: 1.6rem; 
    font-weight: bold; 
    color: #333; 
}

.card p {
    font-size: 1.4rem; 
    color: #FE616F;
    font-weight: 600;
}
